.logo-container{
    z-index: 0;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 30px;
    right: 2%;
    bottom: 16%;
    left: auto;
    margin: auto;
    opacity: 0.1;

    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo{
        position: absolute;
        width: 100%;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        opacity: 0.1;
        transform: rotateZ(30deg);
        z-index: 1;
    }
}

.svg-container{
    stroke: #fff;
    stroke-width: 10;
}
